:root {
  --color-primary-one: hsl(158, 36%, 37%);
  --color-primary-two: hsl(30, 38%, 92%);
  --color-secondary-one: hsl(212, 21%, 14%);
  --color-secondary-two: hsl(228, 12%, 48%);
  --color-secondary-three: hsl(0, 0%, 100%);
}