* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: $color-neutral-very-dark-blue;
}

.attribution { font-size: 11px; text-align: center; display: none;}
.attribution a { color: hsl(228, 45%, 44%); }