$color-primary: hsl(25, 97%, 53%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-light-grey: hsl(217, 12%, 63%);
$color-neutral-medium-grey: hsl(216, 12%, 54%);
$color-neutral-dark-blue: hsl(213, 19%, 18%);
$color-neutral-medium-dark-blue: hsl(213, 20%, 22%);
$color-neutral-very-dark-blue: hsl(216, 12%, 8%);
