$color-primary-one: hsl(215, 51%, 70%);
$color-primary-two: hsl(178, 100%, 50%);
$color-secondary-one: hsl(217, 54%, 11%);
$color-secondary-two: hsl(216, 50%, 16%);
$color-secondary-three: hsl(215, 32%, 27%);
$color-secondary-four: hsl(0, 0%, 100%);