@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.home {
  max-width: 950px;
  margin: 0 auto;
}


/***********

** HEADER **

***********/

.header{
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  letter-spacing: -10px;
  font-size: 40px;
}

.header span {
  font-size: 50px;
}

.header .nav .menu {
  display: none;
}

.header .nav .navbar a {
  text-decoration: none;
  color: black;
}

.header .nav .navbar a:hover {
  color:  hsl(5, 85%, 63%);
}

.header .nav .navbar {
  display: flex;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

.header .nav .navbar li {
  font-size: 13px;
  padding: 15px;
}

.header .nav .navbar .paddingZero {
  padding: 15px 0 15px 15px
}

/************

** Article **

*************/

.boxs {
  display: flex;
}

.boxs .box {
  max-width: 640px;
}

.boxs .box img{
  width: 100%;
}

.boxs .texts {
  display: flex;
}

.boxs .mainText {
  width: 300px;
  margin-top: 20px;
}

.boxs .mainText h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.boxs .secondaryText p {
  padding-left: 40px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
}

.boxs .secondaryText button {
  margin-left: 40px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.boxs .secondaryText button:hover {
  background-color: hsl(240, 100%, 5%);
}

.boxs .box2 {
  margin-left: 20px;
  background-color: hsl(240, 100%, 5%);
}

.boxs .box2 .text h1 {
  padding: 20px;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: hsl(35, 77%, 62%);
}

.boxs .box2 .text h2 {
  font-family: 'Inter', sans-serif;
  padding: 0 20px;
  font-size: 15px;
  color: hsl(36, 100%, 99%);
}

.boxs .box2 .text p {
  font-family: 'Inter', sans-serif;
  padding: 10px 20px;
  font-size: 13px;
  color: hsl(233, 8%, 79%);
}

.boxs .box2 .text .hr {
  margin: 20px;
  color: grey;
}

.boxs2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Inter', sans-serif;
}

.boxs2 .box {
  display: flex;
}

.boxs2 .box img {
  width: 90px;
  height: 105px;
}

.boxs2 .text {
  padding: 0px 20px 10px 20px;
  width: 240px;
}

.boxs2 .box .numbers {
  color: hsl(233, 8%, 79%);
}

.boxs2 .box a {
  text-decoration: none;
  color: black;
}

.boxs2 .box a:hover {
  color: hsl(5, 85%, 63%);
}

.boxs2 .box h3 {
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.boxs2 .box p {
  padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
}

@media (max-width: 1100px) {
  .header .nav .navbar {
    display: none;
  }

  .header .nav .menu {
    display: block;
  }

  .header .nav .menu img {
    width: 50px;
  }

  .boxs {
    display: flex;
    flex-direction: column;
  }

  .boxs .box {
    max-width: 950px;
  }

  .boxs .texts {
    display: flex;
    flex-direction: column;
    
  }

  .boxs .mainText {
    width: 800px;
    margin: 0 auto;
  }

  .boxs .mainText h1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
  }

  .boxs .secondaryText p {
    width: 700px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
  }
  
  .boxs .secondaryText button {
    display: flex;
    margin: 0 auto;
    padding: 20px 30px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .boxs .box2 .text h1 {
    font-size: 60px;
  }

  .boxs .box2 .text h2 {
    font-size: 30px;
  }

  .boxs .box2 .text p {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .boxs2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 10px 20px;
  }
}