$color-primary-one: hsl(0, 36%, 70%);
$color-primary-two: hsl(0, 93%, 68%);

$color-neutral: hsl(0, 6%, 24%);

$gradient-one:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

